
	<div class="row">
		<div class="col-md-12">
			
			<%= image_tag @game.weed1, id: "weed1", class: "weed img-responsive", style: "height: 2px;
    top: 270px;
    position: absolute;
    left: 180px; opacity: 0;" %>
			<%= image_tag @game.weed2, id: "weed2", class: "weed img-responsive", style: "height: 2px;
    top: 310px;
    position: absolute;
    left: 320px; opacity: 0;
}" %>
			<%= image_tag @game.fruit1, id: "fruit1", class: "fruit img-responsive", style: "height: 50px;
    top: 270px;
    position: absolute;
    left: 210px;" %>

    		<%= image_tag @game.fruit2, id: "fruit2", class: "fruit img-responsive", style: "height: 50px;
    top: 320px;
    position: absolute;
    left: 230px;" %>

			<%= image_tag @game.ground, class: "img-responsive", style: "width: 100%;" %>
		</div>
	</div>
	<div class="row" style="position: absolute; bottom: 5px;">
		<div class="col-md-12">Welcome to the game! <%= @charity_target.id %>
<button type="button" class="btn btn-primary" data-toggle="modal" href="<%= charity_targets_url(@charity_target)%>" data-target="#myModal">Irrigate</button>

		</div>
	</div>

	<script>
	$(function() {

		$(".fruit").animate({
		    height: "100px"
		  }, 10000, function() {
		    
		  });
		$(".weed").animate({
			opacity: 1,
		    height: "50px"
		  }, 3000, function() {
		    
		  }).delay("3000");
			$(".weed").click(function () {
				$(this).hide();
			})
	})
	</script>