
	<div class="row text-center">
		<h2>Game: Fight against malaria!</h2>
	</div>
	<div class="row">

			<ul class="col-md-2" id="toolbox" style="
    list-style-type: none;" >
				<li><%= image_tag @game.hand, id: "toolbox-hand", class: "img-responsive", style: "margin: 0 auto; width: 80px;", :data => { :toggle => "tooltip", :placement => "right"}, :title => "Tooltip on right"%><div class="text-center">0€ Hand</div></li>
				<li><%= image_tag @game.stick, id: "toolbox-stick", class: "img-responsive", style: "margin: 0 auto; width: 80px;" %><div class="text-center">1 € Stick</div></li>
				<li><%= image_tag @game.spray, id: "toolbox-spray", class: "img-responsive", style: "margin: 0 auto; width: 80px;" %><div class="text-center">1 € Spray</li>
			</ul>
		<div class="col-md-8" id="viewport" style="width: 600px; cursor: none; overflow: hidden">
			<div class="row">
					<a href="#" style="position: absolute; bottom: 0px; right: 0px; opacity: 0; z-index: -10000" id="topright_marker">placeholder</a>
					<!--<div class="intro" style="width: 150px; right: 75px; position: absolute; bottom: 0px;">
						<%= image_tag @game.you, class: "img-responsive" %>
					</div>-->
					<div class="progress" style="
					    position: absolute;
					    top: 340px;
					    left: 290px;
					    width: 180px;
					    height: 20px;
					    z-index: 1;
					">
					  <div class="progress-bar" id="target-progress-0" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%; background-color: green;">
					  Health
					  </div>
					</div>
					<div class="progress" style="
					    position: absolute;
					    top: 430px;
    					left: 60px;
					    width: 180px;
					    height: 20px;
					    z-index: 1;
					">
					  <div class="progress-bar" id="target-progress-1" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%; background-color: green;">
					  Health
					  </div>
					</div>
					<div class="progress" style="
					    position: absolute;
					    top: 340px;
					    left: 290px;
					    width: 180px;
					    height: 20px;
					    display: none;
					    z-index: 1;
					">
					  <div class="progress-bar" id="target-progress-2" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%; background-color: green;">
					  Health
					  </div>
					</div>
					<div class="progress" style="
					    position: absolute;
					    top: 340px;
					    left: 290px;
					    width: 180px;
					    height: 20px;
					    display: none;
					    z-index: 1;
					">
					  <div class="progress-bar" id="target-progress-3" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%; background-color: green;">
					  Health
					  </div>
					</div>

					<a href="#" style="position: absolute; top: 250px; left: 50px; opacity: 0; z-index: -10000" id="middle_marker">placeholder</a>
					<%= image_tag "malaria/pa.png", id: "effect-template", style: "position: absolute; width: 100px; top: -14px; right: 0px; display: none;" %>
					<%= image_tag @game.hand, id: "tool", style: "z-index: 1; position: absolute; width: 130px;" %>
					<%= image_tag @game.mosquito, id: "mosquito", class: "mosquito", style: "z-index: 0; padding: 20px; /*cursor:pointer;*/
		    top: 270px;
		    position: absolute;
		    left: 180px; display: none;" %>
					
					<%= image_tag @game.level1, id: "background", class: "img-responsive", style: "width: 100%;" %>

			</div>
		</div>
		<div class="col-md-2" style="margin-top: 120px;">
			<h3>You've donated</h3>
			<h1 class="donations-counter">0 €</h1>
			<h1 id="msg"></h1>
		</div>
	</div>

	<div class="row">
		<div class="col-md-2">
					<div id="donate" style="">
				<script src='http://paystairs.com/button/button.js?recipientId=3'> </script>
			</div>
		</div>
		<div class="col-md-8">
					<div class="progress" style="position: relative; overflow: visible;
					    width: 100%;
					    margin-top: 10px;
					    height: 20px;
					">
					  <div class="progress-bar" id="donations-progress" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;">
					  Donation <span class="donations-counter">0 €</span>
					  </div>
					  <%= image_tag @game.hand, id: "progressbar-hand", style: "position: absolute;
		    width: 50px;
		    top: -14px;
		    left: 120px;" %>
					  <%= image_tag @game.stick, id: "progressbar-stick", style: "position: absolute;
		    width: 50px;
		    top: -14px;
		    left: 280px;" %>

		    					  <%= image_tag @game.spray, id: "progressbar-spray", style: "position: absolute;
		    width: 50px;
		    top: -14px;
		    left: 420px;" %>

		    <img data-toggle="tooltip" data-placement="top" title="Long Lasting Insecticidal Nets The use of long lasting insecticide treated nets (LLIN) each night is one of the most effective ways to prevent malaria." style="z-index: 9999; position: absolute; right: -80px; height: 160px; top: -100px" src="<%= asset_url(@game.net) %>"/>
					</div>
		<!--<button type="button" class="btn btn-primary" data-toggle="modal" href="<%= charity_targets_url(@charity_target)%>" data-target="#myModal">Irrigate</button>-->
			</div>

			</div>
	</div>

	<script>

	var SmokeEffect, mosquitos_killed = 0, outside_viewport_random, random_from, random_on_target, next_level, viewport_random, Mosquito, FastMosquito, sprayloop;

	$(function() {
		$('[data-toggle="tooltip"]').tooltip();

		var startTime = null;
		
		var backgrounds = 
		["<%= asset_url(@game.level1) %>",
		"<%= asset_url(@game.level2) %>",
		"<%= asset_url(@game.level3) %>",
		"<%= asset_url("malaria/map.jpg") %>"];

		var TOOL_HAND = 0;
		var TOOL_STICK = 1;
		var TOOL_SPRAY = 2;

		var tools = 
		["<%= asset_url("malaria/hand.png") %>",
		"<%= asset_url("malaria/stick.png") %>",
		"<%= asset_url("malaria/spray.png") %>"];

		var HIT_EFFECT = 0;
		var SMOKE_ONE = 1;
		var SMOKE_TWO = 2;
		var SMOKE_THREE = 3;
		var MOSQUITO_BITE = 4;

		var effects = 
		["<%= asset_url("malaria/pa.png") %>",
		"<%= asset_url("malaria/smoke1.png") %>",
		"<%= asset_url("malaria/smoke2.png") %>",
		"<%= asset_url("malaria/smoke3.png") %>",
		"<%= asset_url("malaria/mosquito_bite.png") %>"];

		var NORMAL_MOSQUITO = 0;
		var FAST_MOSQUITO = 1;
		var FAT_MOSQUITO = 2;
		var DEAD_MOSQUITO = 3;
		var DEAD_FAST_MOSQUITO = 4;
		var DEAD_FAT_MOSQUITO = 5;
		var INJURED_FAT_MOSQUITO = 6;

		var mosquitoSprites = 
		["<%= asset_url(@game.normal_mosquito) %>",
		"<%= asset_url(@game.fast_mosquito) %>",
		"<%= asset_url(@game.fat_mosquito) %>",
		'<%= asset_url(@game.dead_mosquito) %>',
		'<%= asset_url("malaria/fast_dead.png") %>',
		'<%= asset_url("malaria/fat_dead.png") %>',
		'<%= asset_url("malaria/fat_injury.png") %>'];

		var level_completed_graphic = 
		["<%= asset_url("malaria/kids_sleeping_net.jpg") %>",
		"<%= asset_url("malaria/grandma_sleeping_net.jpg") %>",
		"<%= asset_url("malaria/wife_sleeping_net.jpg") %>"];

		var currentTool = 0;
		var currentLevel = 0;

		var demoDonationsOffset;
		var demoDonationCount = 0;

		function after_donated(data) {
			if(data.total > 0 && data.total % 3 == 0) {
				$("#notifications-toggle");
				$("#main-navbar-messages").prepend( '<div class="message"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>You just donated one mosquito net!</p>' );
			}
			if(data.total == 1) {
				$("#msg").html("Thank you!");
			}
			else if (data.total == 2) {
				$("#msg").html("Nice!");	
			}
			$(".donations-counter").html(data.total + " €");
			if(currentLevel == 0)
				var progress = 25 + 100*data.total/ 4;
			if(currentLevel ==1)
				var progress = 50 + 50/3 * (data.total-3);
			if(currentLevel == 2)
				var progress = 66 + 34/3 * (data.total-6);

			set_tool(data.total);

			$('#donations-progress').css('width', progress+'%').attr('aria-valuenow', progress);    

			if(progress > 90) {
				progress = 100;
				$("#progressbar-spray").hide();
				level_completed(data);
			} else if(progress > 50) {
				$("#progressbar-stick").hide();
			} else if (progress > 25) {
				$("#progressbar-hand").hide();
			}
		}

		level_completed = function(data) {
			set_tool(-1);
			$("#background").attr("src", level_completed_graphic[currentLevel]);
			$("#viewport").one('click', function() {
				if(currentLevel == 0) {
					$("#target-progress-2").parent().show();
					$("#donations-progress").css("width", "50%");
				}
				else if(currentLevel == 1) {
					$("#donations-progress").css("width", "66%");
					$("#target-progress-3").parent().show();
				}
				set_tool(TOOL_HAND);
				next_level();



				spawn_mosquito();
			});

			if(currentLevel == 0) {
				$("#target-progress-0").parent().hide();
				$("#target-progress-1").parent().hide();
			}
			else if(currentLevel == 1) {
				$("#target-progress-2").parent().hide();
			}
			else {
				$(".mosquito").hide();
				TweenMax.pauseAll();
				$(".progress").hide();
			}

			for(var id in mosquitos) {
				var mos = mosquitos[id];
				mos.leave();
			}
		}

		next_level = function(data) {
			currentLevel++;
			$("#background").attr("src", backgrounds[currentLevel]);
			var target = (currentLevel+1) * 100;
			$('#donations-progress')
			.attr('aria-valuemax', target)
			.css('width', data.total / target + "px" );    
		}

		$sprite_template = $("#mosquito");
		$sprite_template.hide();
		$viewport = $("#viewport");
		$tool = $("#tool");
		$stick_effect = $("#stick-effect")
		var toolSize;
		var toolSpriteSize = [130,170,130];

		var TARGET_CHILD_ONE = 0;
		var TARGET_CHILD_TWO = 1;
		var TARGET_GRANDMA = 2;
		var TARGET_WIFE = 3;
		var healths = [100, 100, 100, 100];

		var mouseX = 0;
		var mouseY = 0;

		stick_mousedown = function(e) {
			var parentOffset = $viewport.offset();
		    var relX = e.pageX - parentOffset.left;
		    var relY = e.pageY - parentOffset.top;

		    mouseX = relX;
		    mouseY = relY;

		    if(currentTool == TOOL_HAND) {
			    $stick_effect.css({
			    	"top": relY - 100 + "px",
			    	"left": relX + "px"
				});
			}
			else if(currentTool == TOOL_STICK) {
				$stick_effect.css({
			    	"top": relY - 115 + "px",
			    	"left": relX + 30 + "px"
				});
			} else if(currentTool == TOOL_SPRAY) {
				spray = function() {
					new SmokeEffect(mouseX, mouseY);
					sprayloop = setTimeout(spray, 150);
				};

				spray();
			}
			$stick_effect.show();
		};

		stick_mouseup = function() {
		    $stick_effect.hide();
		    if(sprayloop)
		    	clearTimeout(sprayloop);
		}

		stick_mousedown = $viewport.bind('mousedown', stick_mousedown);
		stick_mouseup = $viewport.bind('mouseup', stick_mouseup);

		function set_tool(level) {
			currentTool = level;
			if(!tools[level]) {
				console.log("invalid tool level:" + level);
				return;
			}

			/*
			if(level == TOOL_STICK || level == TOOL_HAND) {
				
			} else {
				$viewport.unbind('mousedown');
				$viewport.unbind('mouseup');
			}*/

			$tool.attr("src", tools[level]);
			$tool.css("width", toolSpriteSize[level]);
			toolSize = $tool.width();		
		}

		set_tool(currentTool);

		 	window.onmessage = function(ev) {
		        var data = ev.data;

		        if (data.type === 'paystairs-internal' && data.message === 'mouseenter') {
		        	TweenMax.pauseAll();
		        }

		        if (data.type === 'paystairs-internal' && data.message === 'mouseleave') {
		        	TweenMax.resumeAll();
		        }

		        if (data.type === 'paystairs-user') {
		          /*notificationsChannel = pusher.subscribe('user-' + data.userId);
		          notificationsChannel.bind('new_notification', function(notification){
		              var message = notification.message;
		              $('div.notification').text(message);
		          });*/
		        }

		        if (data.type === 'paystairs-loggedin') {

		        }

		        if (data.type === 'paystairs-achievement') {
		        	$("#notifications-toggle").click();
		        	$("#main-navbar-messages").append( '<div class="message"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>' + data.description + '</p>' );
		        }

		        if (data.type === 'paystairs-donation') {
		        	//if(!demoDonationsOffset && data.total)
		        	//	demoDonationsOffset = data.total - 1;

		        	demoDonationCount++;
		        	//demoDonationsCount = data.total - demoDonationsOffset;
		        	data.total = demoDonationCount;

		        	after_donated(data);

		        	<% if false %>
			        	<% if current_user and current_user.avatar_type %>

			        		$.getScript("<%= url_for(refresh_karma_path)%>" + "/" + data.userId);
			        		//window.location.href = "<%= root_url %>" + "?total_donated=" + data.total;
			        	<% else %>
			        		after_donated();
			        	<% end %>
		        	<% end %>
		            /*alert('user ' + data.userId + ' donated $' + data.amount +
		                ' to user ' + data.target + ', has donated ' +
		                '$' + data.total + ' in total');*/
		        }
		    };

		    $('#myModal').on('show.bs.modal', function (e) {
		      iw.close();
		      var link = $(e.relatedTarget);
		      $(this).find(".modal-body").load(link.attr("data-href"));
		      $(this).find('.modal-title').text(link.attr("data-title"))
		      if(link.attr("data-fullwidth"))
		        $(this).find(".modal-body").addClass("fullwidth");
		      else
		        $(this).find(".modal-body").removeClass("fullwidth");
		      /*
		      var button = $(event.relatedTarget) // Button that triggered the modal
		      var recipient = button.data('whatever') // Extract info from data-* attributes
		      // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
		      // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
		      var modal = $(this)
		      modal.find('.modal-title').text('New message to ' + recipient)
		      modal.find('.modal-body input').val(recipient)*/
		    })

		$viewport.mousemove(function(e) {
			if(currentTool == -1)
				return;
			var parentOffset = $viewport.offset();
		    var relX = e.pageX - parentOffset.left;
		    var relY = e.pageY - parentOffset.top;

		    mouseX = relX;
		    mouseY = relY;

		    $tool.css( {
		    	top: relY - toolSize / 2,
		    	left: relX - toolSize / 2
		    	})
			});

		viewport_random = function() {
			return {
				left: (Math.random() * $viewport.width()) + "px",
				top: (Math.random() * 250) + "px"
			}
		}

		right_of_viewport_random = function() {
			var css = viewport_random();
			css.left = $viewport.width() + 200 + "px";
			return css;
		}

		outside_viewport_random = function() {
			var css = viewport_random();
			css.left = parseInt(css.left.substring(0, css.left.length - 2));
			css.top = parseInt(css.top.substring(0, css.top.length - 2));

			css.left -= $viewport.width();
			css.top -= 250;

			if(css.left < -$viewport.width()/2)
				css.left += $viewport.width()*2;
			if(css.top < -125)
				css.top += 500;

			css.left = css.left + "px";
			css.top = css.top + "px";
			return css;
		}

		random_on_target = function(target) {
			if(target == 0) {
				return random_from([
					{"left": "386px", "top": "263px"},
					{"left": "202px", "top": "130px"},
					{"left": "213px", "top": "280px"},
					{"left": "313px", "top": "191px"},
					{"left": "330px", "top": "112px"},
				]);
			}
			else if(target == 1) {
				return random_from([
					{"left": "142px", "top": "300px"},
					{"left": "158px", "top": "240px"},
					//{"left": "202px", "top": "130px"},
					//{"left": "213px", "top": "280px"},
					//{"left": "313px", "top": "191px"},
					//{"left": "330px", "top": "112px"},
				]);
			}
			else if(target == 2) {
			}
			else if(target == 3) {

			}
		}


		random_from = function(choices) {
			var rnd = Math.random();
			var length = choices.length;
			var bracket = 1.0 / choices.length;
			var choice = Math.floor(rnd / bracket);
			if(choice > (length - 1)) choice = length - 1;
			return choices[choice];
		}

		var health = 100;

		function FastMosquito() {
			Mosquito.call(this);

			this.speed = 2.4;
			this.$sprite.attr("src", mosquitoSprites[FAST_MOSQUITO]);
		}



		FastMosquito.prototype = Object.create(Mosquito.prototype);

		FastMosquito.prototype.die = function() {
			this.$sprite.attr("src", mosquitoSprites[DEAD_FAST_MOSQUITO]);
			this.$sprite.css("width", "100px");

			this.stop();

			TweenMax.to(this.mosquito, 5, {delay:0,css:{top:"600px"}, ease:Power2.easeIn});
		}

		function FatMosquito() {
			Mosquito.call(this);

			this.speed = 0.6;
			this.life = 2;
			this.$sprite.attr("src", mosquitoSprites[FAT_MOSQUITO]);
		}

		FatMosquito.prototype = Object.create(Mosquito.prototype);

		FatMosquito.prototype.die = function() {
			this.life--;
			if(this.life > 0) {
				this.$sprite.attr("src", mosquitoSprites[INJURED_FAT_MOSQUITO]);
				//this.stop();
				//this.move({ease: delay: random_from([0, 0, 1])});
				return false;
			}

			this.$sprite.attr("src", mosquitoSprites[DEAD_FAT_MOSQUITO]);
			//this.$sprite.css("width", "100px");

			this.stop();

			TweenMax.to(this.mosquito, 5, {delay:0,css:{top:"600px"}, ease:Power2.easeIn});

			return true;
		}

		$effect_template = $("#effect-template");
		function Effect() {

			if ( this instanceof Effect ) {
			  Effect.counter++;
			  this._id =  "effect_" + Effect.counter;
			  this.$sprite = $effect_template.clone().prop({ id: this._id });
			  this.$sprite.appendTo($viewport);
			  //this.$sprite.show();

			  this.sprite = this.$sprite[0];
			} else {
				return new Effect();
			}
		}

		Effect.counter = 0;

		SmokeEffect = function(x, y) {
			Effect.call(this);

			var dice = Math.random();
			if(dice < 0.5) {
				this.$sprite.attr("src", effects[SMOKE_TWO]);
			} else {
				this.$sprite.attr("src", effects[SMOKE_THREE]);
			}	

			x += Math.random() * 100 - 200;
			y += Math.random() * 100 - 150;

			this.$sprite.css({ width: 100+Math.random() * 75 + "px", right: "initial", bottom: "initial", top: y + "px", left: x + "px"});

			this.$sprite.show();
			this.$sprite.fadeOut(1600, function() { $(this).remove(); });
		}

		SmokeEffect.prototype = Object.create(Effect.prototype);

		BiteEffect = function(x, y) {
			Effect.call(this);

			var dice = Math.random();
			this.$sprite.attr("src", effects[MOSQUITO_BITE]);
			
			this.$sprite.css({ width: 10+Math.random() * 10 + "px", right: "initial", bottom: "initial", top: y + "px", left: x + "px"});

			this.$sprite.show();
			this.$sprite.fadeOut(30000, function() { $(this).remove(); });
		}

		BiteEffect.prototype = Object.create(Effect.prototype);

		function Mosquito() {

			if ( this instanceof Mosquito ) {
			  Mosquito.counter++;
			  this._id =  "mosquito_" + Mosquito.counter;
			  this.$sprite = $sprite_template.clone().prop({ id: this._id });
			  this.$sprite.appendTo($viewport);
			  this.$sprite.show();
			  this.speed = 1;
			  this.alive = true;

			  this.mosquito = this.$sprite[0];
			} else {
				return new Mosquito();
			}
		}

		Mosquito.prototype.leave = function() {
			this.stop();
			this.alive = false;

			this.move({ 
					pos: right_of_viewport_random(), 
					time: 4,
					callback: function() { this.die(); } 
				});
		}

		Mosquito.prototype.stop = function() {
			TweenMax.killTweensOf(this.mosquito);
		}

		Mosquito.prototype.setPosition = function(css) {
			this.$sprite.css(css);
		}

		Mosquito.prototype.getId = function() {
			return this._id;
		}

		Mosquito.prototype.setSpeed = function(speed) {
			this.speed = speed;
		}

		Mosquito.prototype.setSprite = function(sprite) {
			this.$sprite.attr("src", sprite);
		}

		Mosquito.prototype.attack = function(target) {
			console.log("attacking target " + target + "at pos" )
			this.move({
				pos: random_on_target(target),
				delay: 0,
				time: this.speed * random_from([3,4,5]),
				callback: function() {
					this.bite(target);
					this.leave();
					mosquito_spawner();
					/*
					setTimeout(function() {
						if(thisMosquito.alive) {
							thisMosquito.bite(target);
							thisMosquito.leave();
						}
					}, 2000);
					*/
				},
				scale: 0.4
			});
		}

		Mosquito.prototype.bite = function(target) {
			new BiteEffect(this.getX(), this.getY());
			healths[target] -= 10;
			if (healths[target] <= 0)
				healths[target] = 0;

			$('#target-progress-' + target).css('width', healths[target]+'%').attr('aria-valuenow', healths[target]);
		}

		Mosquito.prototype.moveAgain = function() {
			var dice = Math.random();
			var target;

			if(currentLevel == 0) {
				if(dice < 0.5) {
					target = TARGET_CHILD_ONE;
				}
				else
					target = TARGET_CHILD_TWO;
			}
			else if(currentLevel == 1) {
				target = TARGET_GRANDMA;
			}
			else if(currentLevel == 2) {
				target = TARGET_WIFE;
			}
			else return;
			
			this.attack(target);
		}

		Mosquito.prototype.getX = function() {
			var x = this.$sprite.css("left");
			return parseInt(x.substr(0,x.length-2)) + this.$sprite.width() / 2;
		}

		Mosquito.prototype.getY = function() {
			var y = this.$sprite.css("top");
			return parseInt(y.substr(0,y.length-2)) + this.$sprite.height() / 2;
		}

		Mosquito.prototype.distance = function(fromX, fromY) {
			var x = this.getX();
			var y = this.getY();
			return Math.sqrt(Math.pow(fromX - x, 2) + Math.pow(fromY - y, 2));
		}

		Mosquito.prototype.die = function() {
			this.alive = false;
			this.$sprite.attr("src", mosquitoSprites[DEAD_MOSQUITO]);

			this.stop();

			TweenMax.to(this.mosquito, 3, {delay:0,css:{top:"600px"}, ease:Power3.easeIn});
		}

		Mosquito.prototype.move = function(options) {
			var defaults = {
				pos: viewport_random(),
				delay: random_from([0, 0, 1]),
				callback: this.moveAgain,
				scale: 1,
				ease: Power1.easeInOut,
				time: random_from([6, 9, 12]) * this.speed,
			}

			var settings = $.extend( {}, defaults, options );

			TweenMax.to(this.mosquito, settings.time, {
				bezier: [viewport_random(), viewport_random(), settings.pos],
				scaleX: settings.scale,
				scaleY: settings.scale,
				ease: settings.ease,
				delay: settings.delay,
				onCompleteScope: this,
				onComplete: settings.callback
			});
		}

		Mosquito.counter = 1;

		var n_mosquitos = 3;

		function mosquito_spawner() {
			var timeElapsed = 5 + Math.log((Date.now() - startTime) / 1000);
			console.log("time elapsed factor is " + timeElapsed)
			var timeout = 3000 + 1000 * (Math.random() * 8) / timeElapsed;
			console.log("new mosquito in " + timeout / 1000);
			var max_mosquitos = 5+0.1*Math.pow(10,1.6);
			if (max_mosquitos > 13)
				max_mosquitos = 13;
			console.log("mosquitos: " + n_mosquitos + " max: " + max_mosquitos);
			if(n_mosquitos < max_mosquitos) {
				setTimeout(spawn_mosquito, 5000 + 1000 * (Math.random() * 8) / timeElapsed);
			}
			setTimeout(spawn_mosquito, timeout);
		}

		$viewport.click(function (e) {
			if(currentTool == -1)
		    	return;

			var parentOffset = $viewport.offset();
		    var relX = e.pageX - parentOffset.left;
		    var relY = e.pageY - parentOffset.top;
		    var radius = 70;

		    if(currentTool == 1)
		    	radius = 140;
		    else if(currentTool == 2)
		    	radius = 100000;

		    for(var id in mosquitos) {
		    	var currentMos = mosquitos[id];
		    	var distance = currentMos.distance(relX, relY);

		    	if(distance < radius) {
		    		var did_die = currentMos.die();
		    		if(did_die === false) 
		    			continue;

		    		mosquitos_killed++;

					if(!startTime)
						startTime = Date.now();

					n_mosquitos--;
					if(n_mosquitos < 0)
						n_mosquitos=0;

					
					delete mosquitos[currentMos.getId()];
					
					mosquito_spawner();
		    	}
		    }
		//	alert("relX " + relX + " relY" + relY);
		});

		mosquitos = {};

		var mosquitos_limit = 20;

		function spawn_mosquito() {
			if(n_mosquitos > mosquitos_limit)
				return;

			console.log("spawning mosquito " + n_mosquitos);
			n_mosquitos++;

			var dice = Math.random();
			if(dice < 0.3)
				mosquito = new FatMosquito();
			else if(dice < 0.6)
				mosquito = new FastMosquito();
			else
				mosquito = new Mosquito();

			var id = mosquito.getId();
			mosquitos[id] = mosquito;

			mosquito.setPosition(outside_viewport_random());
			mosquito.move();
		}

		var n_to_spawn = n_mosquitos;
		for(var i = 0; i < n_to_spawn; i++ ) spawn_mosquito();
/*
		$("#mosquito").animate({
			opacity: 1,
		    height: "50px"
		  }, 3000, function() {
		    
		  }).delay("3000");
*/

		var tour = new Tour({
		  storage: false,
		  steps: [
		  {
		    element: "#middle_marker",
		    title: "Beat the mosquitos",
		    content: "Oh no! Malaria-carrying mosquitos are attacking your family. Click the mosquitos to kill them and protect the kids."
		  },
		  {
		    element: "#donate",
		    title: "Tools",
		    content: "Donate to help Against Malaria Foundation and gain access to additional tools"
		  }],
		  template: "<div class='popover tour'>    <div class='arrow'></div>     <h3 class='popover-title'></h3>   <div class='popover-content'></div>    <div class='popover-navigation'></span>         <button class='btn btn-default' data-role='end'>Ok</button>  </div></nav></div>"
		});

		// Initialize the tour
		tour.init();

		// Start the tour
		tour.start();


	})
	</script>