<!-- app/views/wupee/notifications/_level_up.html.erb -->
<a href="#" class="message-subject"><%= t ".level_up", level: notification.attached_object.level %> </a>
  <div class="message-description">
    &nbsp;&nbsp;·&nbsp;&nbsp;
    2h ago
  </div>