  <div class="page-header">
    <h1>FAERIE</h1>
  </div>
  <p class="lead">Thank you for donating!</p>
  <p>Choose your avatar.</p>
  <div class="col-lg-2 col-md-2 col-xs-6 thumb">
    
        <%= link_to image_tag("faerie.png", class: "img-responsive"), set_avatar_path(id: 'faerie') %>
    
  </div>
  <div class="col-lg-2 col-md-2 col-xs-6 thumb">
    
        <%= link_to image_tag("goblin.png", class: "img-responsive"), set_avatar_path(id: 'goblin' ) %>
    
  </div>
  <div class="col-lg-2 col-md-2 col-xs-6 thumb">
    
        <%= link_to image_tag("warrior.png", class: "img-responsive"), set_avatar_path(id: 'warrior' ) %>
    
  </div>

    <div class="col-lg-2 col-md-2 col-xs-6 thumb">
    
        <%= link_to image_tag("wizard.png", class: "img-responsive"), set_avatar_path(id: 'wizard') %>
    
  </div>
  <div class="col-lg-2 col-md-2 col-xs-6 thumb">
    
        <%= link_to image_tag("dragon.png", class: "img-responsive"), set_avatar_path(id: 'dragon' ) %>
    
  </div>