<% content_for :hero do %>
  <div class="container-fluid">
    <div class="row">
      <div id="map" class="col-md-12" style='height: 500px;'></div>
    </div>
  </div>
<% end %>

  <div class="page-header">
    <h1>FAERIE</h1>
  </div>
  <p class="lead">Welcome to Faer.ie</p>
  <p>You have the following challenges available</p>

  <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                 <h4 class="modal-title">Modal title</h4>

            </div>
            <div class="modal-body"><div class="te"></div></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->





  <div class="row">
  <% @users.each do |user| %>
  <% next unless user.avatar.present? %>
  <div class="col-lg-4 col-md-6 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <%= image_tag(user.avatar.url(:original), class: "img-responsive") %>
                </a>
                <p><%= user.name %> <%= country(user) %></p>
                <script src='http://paystairs.com/button/button.js?recipientId=3'> </script>
  </div>
  <% end %>
  </div>

<script type="text/javascript">
  $(function() {

    <% if @charity_targets %>
      var map; // Global declaration of the map  
      iw = new google.maps.InfoWindow();

      function initialize()   
    {  
        var myOptions = {  
            zoom: 4,  
            center: new google.maps.LatLng(-6.208763, 106.845599 ),  
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            scrollwheel:  false
        }   
        map = new google.maps.Map(document.getElementById("map"), myOptions);  
         
        locations = [ 
        <% @charity_targets.each do |target| %>
        {
          "lat": <%= target.lat %>,
          "lng": <%= target.lng %>,
          "id": <%= target.id %>,
          "icon_url": "<%= image_url(target.background) %>",
          "infowindow": "Challenge id " + <%= target.id %> + ' <br/> <%= link_to "Open", url_for(target) %>'
        },
        <% end %>
        ];

        for (i = 0; i < locations.length; i++) {
          var icon = new google.maps.MarkerImage(
              locations[i]["icon_url"],
              null, /* size is determined at runtime */
              null, /* origin is 0,0 */
              null, /* anchor is bottom center of the scaled image */
              new google.maps.Size(64, 64)
          );  

          marker = new google.maps.Marker({
            position: new google.maps.LatLng(locations[i]["lat"], locations[i]["lng"]),
            map: map,
            icon: icon
          });

          google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
              $.ajax({  
                url: '<%= charity_targets_url %>/' + locations[i]["id"] + '/embed',  
                success: function(data) {  
                        iw.setContent(data);  
                    iw.open(map, marker);  
                }  
            }); 
            }
          })(marker, i));
        }
    }  

    initialize();

    /*
      var handler = Gmaps.build('Google');

      handler.buildMap({ internal: {id: 'map'}}, function(){
        var markers = handler.addMarkers([
          <% @charity_targets.each do |target| %>
      {
        "lat": <%= target.latitude %>,
        "lng": <%= target.longitude %>,
        "infowindow": "Challenge id " + <%= target.id %> + ' <br/> <%= link_to "Open", url_for(target) %>'
      },
      <% end %>
        ]);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
      });
    <% end %>
    */


  	window.onmessage = function(ev) {
        var data = ev.data;

        if (data.type === 'paystairs-user') {
          /*notificationsChannel = pusher.subscribe('user-' + data.userId);
          notificationsChannel.bind('new_notification', function(notification){
              var message = notification.message;
              $('div.notification').text(message);
          });*/
        }

        if (data.type === 'paystairs-donation') {
        	<% if current_user and current_user.avatar_type %>
        		$.getScript("<%= url_for(refresh_karma_path)%>" + "/" + data.userId);
        		//window.location.href = "<%= root_url %>" + "?total_donated=" + data.total;
        	<% else %>
        		after_donated();
        	<% end %>
            /*alert('user ' + data.userId + ' donated $' + data.amount +
                ' to user ' + data.target + ', has donated ' +
                '$' + data.total + ' in total');*/
        }
    };

    $('#myModal').on('show.bs.modal', function (e) {
      iw.close();
      var link = $(e.relatedTarget);
      $(this).find(".modal-body").load(link.attr("data-href"));
      $(this).find('.modal-title').text(link.attr("data-title"))
      if(link.attr("data-fullwidth"))
        $(this).find(".modal-body").addClass("fullwidth");
      else
        $(this).find(".modal-body").removeClass("fullwidth");

      /*
      var button = $(event.relatedTarget) // Button that triggered the modal
      var recipient = button.data('whatever') // Extract info from data-* attributes
      // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
      // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
      var modal = $(this)
      modal.find('.modal-title').text('New message to ' + recipient)
      modal.find('.modal-body input').val(recipient)*/
    })

  	function after_donated() {
		window.location.href = "<%= url_for(choose_avatar_url) %>";
	}
})
</script>