<% if user_signed_in? %>
  <li>
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>
  </li>
  <li>
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
  </li>
<% if avatar %>
<!-- /*style="margin-top: 15px; margin-bottom: 15px;"*/ -->
<p class="navbar-right navbar-text">

<ul class="nav navbar-nav navbar-right">
  <li style="margin-top: 10px;" class="dropdown">
    <a id="notifications-toggle" style="padding-top: 0; padding-bottom: 0;" href="#notifications" class="dropdown-toggle" data-toggle="dropdown"><%= image_tag(avatar, class: "round-image-50") %></a>

    <script>
     $(function () {
        $('#main-navbar-messages').slimScroll({ height: 250 });
      });
    </script>

  <% if true or @notifications %>
  <div class="dropdown-menu" style="width: 300px">
      <div class="messages-list" id="main-navbar-messages">
      <div class="message">
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>You just created your account!
      </div> <!-- / .message -->
      <div class="message">
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>You completed your user information.
      </div>
      <% @notifications.each do |notification| %>
        <div class="message">
           
        </div> <!-- / .message -->
        <% end %>
      </div> <!-- / .messages-list -->
    </div> <!-- / .dropdown-menu -->
    <% end %>
  </li>
</ul>
<li class="navbar-right navbar-text" style="margin-top: 11px; margin-bottom: 11px;">
<div class="progress" style="margin-bottom: 5px;">
<div class="progress-bar" role="progressbar" aria-valuenow="<%= current_user.level_exp %>" aria-valuemin="0" aria-valuemax="<%= current_user.next_level %>" style="width: <%= 100*(current_user.level_exp.to_f / current_user.next_level.to_f) %>%;">
    <%= current_user.level_exp %>
  </div>
  </div>
    Level <%= current_user.level || 0 %> <%= current_user.avatar_type.capitalize %>
</li>
<p class="navbar-text navbar-right" style="margin-right: 15px !important">Logged in as <strong><%= current_user.name || current_user.email %></strong></p>
<% end %>
<% else %>
  <li>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %>
  </li>
  <li>
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
  </li>
<% end %>