<div class="container" style="width: 350px; height: 367px;">
	<div class="row">
		<div class="col-md-12">
			<%= image_tag @charity_target.background, class: "img-responsive", style: "height: 200px; margin: auto;" %>
		</div>
	</div>
	<div class="row text-center">
		<h3><%= @charity_target.name %></h3><p><%= @charity_target.description %></p>
<button type="button" class="btn btn-primary" data-toggle="modal" data-title="<%= @charity_target.name %>" data-href="<%= charity_target_embed_url(@charity_target, :game => true) %>" data-target="#myModal">Start</button>
	</div>
</div>