<p id="notice"><%= notice %></p>

<h1>Listing Charity Targets</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Type</th>
      <th>Name</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @charity_targets.each do |charity_target| %>
      <tr>
        <td><%= charity_target.user_id %></td>
        <td><%= charity_target.type %></td>
        <td><%= charity_target.name %></td>
        <td><%= charity_target.latitude %></td>
        <td><%= charity_target.longitude %></td>
        <td><%= link_to 'Show', charity_target %></td>
        <td><%= link_to 'Edit', edit_charity_target_path(charity_target) %></td>
        <td><%= link_to 'Destroy', charity_target, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Charity target', new_charity_target_path %>
