<p id="notice"><%= notice %></p>

<div class="container" style="padding: 0; height: 467px; position: relative;">
  <%= render "game/" + @charity_target.type.downcase %>
</div>
<!--
<p>
  <strong>User:</strong>
  <%= @charity_target.user_id %>
</p>

<p>
  <strong>Type:</strong>
  <%= @charity_target.type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @charity_target.name %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @charity_target.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @charity_target.longitude %>
</p>


<%= link_to 'Edit', edit_charity_target_path(@charity_target) %> |
<%= link_to 'Back', charity_targets_path %>

-->