<!DOCTYPE html>
<html>
<head>
  <title>Faerie</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<!--<script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script> 
<script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'></script>-->
<body>

<nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a id="logo" class="navbar-brand" href="#"><%= image_tag "faerie-white.png", class: "img-responsive" %></a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
<ul id="user" class="nav navbar-nav navbar-right">
<%= render "shared/user" %>
</ul>

          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<% if content_for?(:hero) %>
  <div class="container-fluid"><%= yield(:hero) %></div>
<% end %>

<div class="container">
<%= yield %>
</div>


<footer class="footer">
  <div class="container">
    <p class="text-muted">Faerie Charitable Foundation | Powered by PayStairs</p>
  </div>
</footer>


</body>
</html>
